header {
    background-color: rgb(54, 53, 59);
    display: flex;
  }

main{
  display: flex;
}
  
  .container {
    display: flex;
    position: relative; 
    align-items: right; /* Выравниваем элементы по вертикали по центру */
    justify-content: space-between; /* Распределяем пространство между элементами */
    padding: 0px 20px;
  }

  .text-container {
    width: auto; 
    height: 200px; 
    overflow: hidden;

    /* Центрирование на экране */
    position: absolute;  /* Позиционируем относительно окна браузера */
    top: 35%;            /* Сдвигаем вниз на 50% от верха окна */
    left: 50%;           /* Сдвигаем вправо на 50% от левого края окна */
    transform: translate(-50%, -50%); /* Сдвигаем на половину собственной ширины и высоты */
}
  
  .fading-text {
    display: block; /* Занимаем всю ширину контейнера */
    text-align: center; /* Выравнивание текста по центру */
    animation: fadeInOut 5s linear infinite; /* Анимация смены текста */
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0; /* Текст невидимый в начале и в конце */
      transform: translateY(10px); /* Текст немного смещен вниз */
    }
    20%, 80% {
      opacity: 1; /* Текст полностью видимый */
      transform: translateY(0); /* Текст на месте */
    }
  }
  
  #logo {
    margin-top: 0; /* Убираем лишний margin */
  }
  
  #links {
    flex-grow: 0; 
    margin-top: 0; 
    display: flex;  
    gap: 20px;
    justify-content: center; /* Центрируем элементы по горизонтали */
    align-items: center;    /* Центрируем элементы по вертикали */
  }
  
  #userpanel {
    margin-top: 0; /* Убираем лишний margin */
  }
  
  .navigation {
    background-color: rgb(54, 53, 59);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 15px; /*  */
    font-family: 'Arial', sans-serif; /* Пример: меняем шрифт на Arial */
  }
  
  a {
    text-decoration: none !important;
  }
  
  body {
    overflow: hidden; 
  }
/* CSS стили для всплывающей подсказки */
.bin-info {
    position: fixed;
    left: 0;
    /* Убираем 'top: 0' */ 
    bottom: 0; /* Фиксируем к низу */
    width: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    /* Добавляем отступ сверху, равный высоте шапки + небольшой запас */
    top: 75px; /* Замените 80px на фактическую высоту вашей шапки + запас */
    }

    
    .bin-info button {
    position: absolute;
    bottom: 10px; /* Отступ от нижнего края */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Дополнительное центрирование */
    width: 90%; /* Ширина кнопки */
    background-color: #f44336;
    color: white;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 0;
    }

    /* Стили для всплывающего окна */
    #route-alert {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 100;
    }

    #route-alert h2 {
        color: #f44336;
        margin-bottom: 10px;
    }

    #route-alert button {
        background-color: #f44336;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }