main{
  display: flex;
}

li{
  text-align: left;
}

  .text-container {
    width: auto; 
    height: 200px; 
    /*overflow: hidden; */

    /* Центрирование на экране */
    position: absolute;  /* Позиционируем относительно окна браузера */
    top: 35%;            /* Сдвигаем вниз на 50% от верха окна */
    left: 50%;           /* Сдвигаем вправо на 50% от левого края окна */
    transform: translate(-50%, -50%); /* Сдвигаем на половину собственной ширины и высоты */
}
  
  .fading-text {
    display: block; /* Занимаем всю ширину контейнера */
    text-align: center; /* Выравнивание текста по центру */
    animation: fadeInOut 5s linear infinite; /* Анимация смены текста */
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0; /* Текст невидимый в начале и в конце */
      transform: translateY(10px); /* Текст немного смещен вниз */
    }
    20%, 80% {
      opacity: 1; /* Текст полностью видимый */
      transform: translateY(0); /* Текст на месте */
    }
  }
  
  header {
    background-color: rgb(54, 53, 59);
    height: 70px;
  }

  @media (min-width: 1440px) {
    .page-header--blog .container {
      max-width: 1920px;
    }
  }

  .container {
    display: flex;
    align-items: center;    /* Центрируем элементы по вертикали */
    justify-content: space-between;
    width: auto;
  }
  
  #links {
    display: flex;
    gap: 20px;
  }

  #userpanel{
    display: flex;
    align-items: center;    /* Центрируем элементы по вертикали */
    justify-content: right;
    width: 200px;
  }
  
  .navigation {
    background-color: rgb(54, 53, 59);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 15px; /*  */
    font-family: "Noto Sans", sans-serif; /* Пример: меняем шрифт на Arial */
    font-weight: 600;
    font-size: 17px;
  }
  
  a {
    text-decoration: none !important;
  }

  

    #background-container {
      background-image: url('1667397567_5-celes-club-p-fon-dlya-prezentatsii-po-ekologii-oboi-5.jpg');

      background-size: cover;
      position: fixed; /* фиксируем фон */
      width: 100%;
      height: 100%;
    }