/* style.css */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #fff; 
    color: #333;
    line-height: 1.5;
}

header {
    padding: 8px;
    background-color: #f0f0f0; 
}

.menu-header a{
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: flex-end; /* Выравнивание по краям */
}

.login-button {
    padding: 5px 10px;
    background-color: #4CAF50; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

nav a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none; /* Убираем подчеркивание */
    color: black;  /* Устанавливаем черный цвет текста */
    font-weight: bold; /* Делаем текст жирным */
    margin: 0px 10px 0px 10px;
}


/* about section */
.about {
    min-height: 80vh; /* Занимает всю высоту экрана */
    display: flex;
    align-items: center;
    padding: 40px;
    background-size: cover; /*  Фоновое изображение растягивается на весь блок */
    background-position: center; /* Фоновое изображение центрируется */
}


.about-text {
  flex: 1;
  /* Добавьте отступы или другие стили по необходимости */
  padding: 20px; /*  Например, отступы */
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

.about-text h1 {
    animation: fadeInOut 4s infinite; /*  4 секунды на цикл */
    font-size: 40px;
}

@keyframes fadeInOut {
    0% { opacity: 0; } /* Начало: невидимый */
    50% { opacity: 1; } /* Середина: видимый */
    100% { opacity: 0; } /* Конец: невидимый */
}

/*  Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .about {
    flex-direction: column; /*  Располагаем текст и изображение друг под другом */
    text-align: center;    /*  Центрируем текст */
  }

  .about-image { /* Можно добавить отступы сверху/снизу */
    margin-top: 20px;
  }
}

.features {
  padding: 40px;
  text-align: center;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  /* Адаптивная сетка */
  gap: 20px;
}



.feature-item {
    text-align: center;  /* Центрирование текста в каждом элементе */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.feature-item i {
    font-size: 3em; /* Увеличиваем размер иконок */
    color: #4CAF50; /* Цвет иконок */
    margin-bottom: 10px;
}

.application {
    padding: 40px;
    text-align: center; /* Центрирование заголовка */
}

.application-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    margin-top: 20px; /* Отступ сверху от заголовка */
}

.application-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.application-item i {
    font-size: 3em;
    color: #4CAF50;
    margin-bottom: 10px;
}

.application-item img{
    height: auto;
    width: 100%;
}
/*Форма обратной связи*/

.contacts {
    padding: 40px;
    background-color: #fff; /* Легкий серый фон для выделения */
}

.contacts h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contacts form {
    max-width: 500px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Легкая тень */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Жирный шрифт для меток */
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px; /* Увеличенный padding */
    border: 1px solid #ccc;
    border-radius: 4px; /* Скругление углов полей ввода */
    box-sizing: border-box;
    font-size: 16px;
}

.form-group textarea {
    min-height: 120px; /* Минимальная высота для textarea */
    resize: vertical; /* Разрешить изменение размера только по вертикали */
}


.contacts button {
    padding: 12px 24px; /* Увеличенный padding */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px; /* Скругление углов кнопки */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    font-size: 16px;
}

.contacts button:hover,
.learn-more-button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
}

#contacts h2 {
    animation: fadeIn 1s ease-in-out; /* Анимация fadeIn длительностью 1 секунду */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #contacts {
    min-height: 517px; /* Или другое значение, достаточное для обеих секций */
  }
/*Подвал*/

footer {
    background-color: #333;
    color: #fff;
}

.container-footer {
    margin: 0 auto;
    padding: 40px 20px 0 20px;
}

.footer-row { /* Изменено имя класса */
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;
}


.footer-col { /* Изменено имя класса */
    width: calc(33.33% - 50px);  /* Ширина каждой колонки с учетом отступов*/
    margin: 0 20px 0 20px;
}


@media (max-width: 768px) {
    .footer-col {  /* На мобильных устройствах колонки занимают всю ширину */
        width: 100%;
    }
}

.contact-list li, .social-links li {
    list-style: none;
    margin-bottom: 10px;
}

.social-links a {
    color: #fff; /* Цвет ссылок в соцсетях */
    font-size: 1.5em; /* Размер иконок соцсетей */
    margin-right: 10px;
}

.social-links,
.contact-list{
    padding-left: 0px;
}

.copyright {
  text-align: center;  /* Центрируем текст копирайта */
  margin-top: 20px;    /* Отступ сверху */
}

/*Информация о датчиках*/

.sensor-details {
    background-color: #333; /* Черный фон */
    color: #fff; /* Белый текст */
    padding: 40px 0;
}

.sensor-details-container {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    gap: 40px;  /* Пробел между картинкой и описанием */
}

.sensor-image {
    flex: 1; /* Изображение занимает доступное пространство */
}

.sensor-image img {
    max-width: 100%;
    height: auto;
    display: block; /*  Чтобы убрать лишний отступ снизу */
}

.image-caption {
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}


.sensor-description {
    flex: 1;  /* Описание занимает доступное пространство */
}

.sensor-description h2 {
    margin-bottom: 20px;
}

.sensor-description p{
    font-size: 20px;
}

.learn-more-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    font-size: 16px;
}



@media (max-width: 768px) { /* На мобильных */
    .sensor-details-container {
        flex-direction: column; /* Картинка и описание друг под другом */
    }

    .sensor-image, .sensor-description {
        flex: none; /* Отменяем flex-grow */
        width: 100%; /* Занимают всю ширину */
    }

    .sensor-image {
        margin-bottom: 20px;
    }

    .sensor-description p{
        font-size: 18px;
        text-align: justify;
        text-indent: 20px;
    }
    
    .sensor-description h2{
        text-align: center;
    }

}

@media (min-width: 769px) { /* На мобильных */
    .application-item p,
    .feature-item p,
    .form-group,
    .about-text p,
    .footer-col p,
    .learn-more-button,
    .contacts button,
    .form-group input,
    .form-group textarea{
        font-size: 18px;
    }

    .application-item h3,
    .feature-item h3,
    .footer-col h3{
        font-size: 20px;
    }
}


/*Гамбургер меню*/

/*  Обычные стили для десктопа */
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 10px;
}

.menu-toggle i {
    font-size: 2em; /*  Или другой размер */
}

.menu-toggle { /* Стили для кнопки "гамбургера" */
    display: none; /* Показываем кнопку на мобильных */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) { /* Или другое значение ширины */

    .menu-toggle { /* Стили для кнопки "гамбургера" */
        display: block; /* Показываем кнопку на мобильных */
        cursor: pointer;
    }

    nav ul {
        display: none; /* Скрываем ссылки по умолчанию */
        flex-direction: column; /* Располагаем ссылки вертикально */
        position: absolute; 
        top: 50px; /* Позиционируем меню под кнопкой */
        left: 0;
        width: 100%;
        background-color: #f0f0f0;
        text-align: center;
        padding: 10px 0;
    }

    nav li {
        margin: 10px 0;
    }


    nav ul.active {  /*  Стили для открытого меню */
        display: flex;
        z-index: 10; /*  Чем больше значение, тем выше элемент */
    }


}

.eco {
    color: black; /* Черный цвет для "Eco" */
  }
  
  .o {
    color: black; /* Черный цвет для "o" внутри "Eco" */
  }
  
  .b {
    color: darkgreen; /* Темно-зеленый цвет для "B" */
  }