main{
  display: flex;
}

  .text-container {
    width: auto; 
    height: 200px; 
    overflow: hidden;

    /* Центрирование на экране */
    position: absolute;  /* Позиционируем относительно окна браузера */
    top: 35%;            /* Сдвигаем вниз на 50% от верха окна */
    left: 50%;           /* Сдвигаем вправо на 50% от левого края окна */
    transform: translate(-50%, -50%); /* Сдвигаем на половину собственной ширины и высоты */
}
  
  .fading-text {
    display: block; /* Занимаем всю ширину контейнера */
    text-align: center; /* Выравнивание текста по центру */
    animation: fadeInOut 5s linear infinite; /* Анимация смены текста */
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0; /* Текст невидимый в начале и в конце */
      transform: translateY(10px); /* Текст немного смещен вниз */
    }
    20%, 80% {
      opacity: 1; /* Текст полностью видимый */
      transform: translateY(0); /* Текст на месте */
    }
  }
  
  header {
    background-color: rgb(54, 53, 59);
    height: 70px;
  }

  @media (min-width: 1440px) {
    .page-header--blog .container {
      max-width: 1920px;
    }
  }

  .container {
    display: flex;
    align-items: center;    /* Центрируем элементы по вертикали */
    justify-content: space-between;
    width: 100%;
  }
  
  #links {
    display: flex;
    gap: 20px;
  }

  #userpanel{
    display: flex;
    align-items: center;    /* Центрируем элементы по вертикали */
    justify-content: right;
    width: 200px;
  }
  
  .navigation {
    background-color: rgb(54, 53, 59);
    border-radius: 5px;
    border: none;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 0 20px 0 20px;
    transition: all 0.3s ease; /* Плавная анимация */
}

  .navigation:hover {
    background-color: rgb(49, 49, 53); /* Замените на желаемый цвет */
    transform: translateY(-2px); /* Небольшое смещение вверх при наведении */
  }
  
  a {
    text-decoration: none !important;
  }
  
  body {
    overflow: hidden; 
  }
/* CSS стили для всплывающей подсказки */
.bin-info {
    position: fixed;
    left: 0;
    /* Убираем 'top: 0' */ 
    bottom: 0; /* Фиксируем к низу */
    width: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    /* Добавляем отступ сверху, равный высоте шапки + небольшой запас */
    top: 75px; /* Замените 80px на фактическую высоту вашей шапки + запас */
    }

    
    .bin-info button {
    position: absolute;
    bottom: 10px; /* Отступ от нижнего края */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Дополнительное центрирование */
    width: 90%; /* Ширина кнопки */
    background-color: #f44336;
    color: white;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 0;
    }

    /* Стили для всплывающего окна */
    #route-alert {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 99;
    }

    #route-alert h2 {
        color: #f44336;
        margin-bottom: 10px;
    }

    #route-alert button {
        background-color: #f44336;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    /* Стили для кнопки "гамбургера" */
.hamburger-button {
  filter: invert(1);
  display: none; /* По умолчанию скрываем кнопку на больших экранах */
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; /* Плавная анимация */
}

.hamburger-button:hover{
  background-color: rgb(49, 49, 53); /* Замените на желаемый цвет */
  transform: translateY(-2px); /* Небольшое смещение вверх при наведении */
}

/* Стили для навигации */
.navbar-collapse {
  display: flex; 
  align-items: center; 
}

/* Стили для кнопок */
.navigation {
  /* ... ваши стили для кнопок ... */
  margin-left: 20px; /* Отступ между кнопками */
}

/* Стили для профиля пользователя */
#userpanel {
  display: flex;
  align-items: center; 
  margin-left: 20px; /* Отступ от кнопок */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) { 
  .hamburger-button {
    display: block; /* Показываем кнопку на маленьких экранах */
  }

  .bin-info {
    width: 100%;
    }

  #route-alert{
    width: 85%;
  }

  #SignInAdmin1 {
    display: block;
  }

  #links,
  #userpanel {
    display: none; /* Скрываем кнопки */
    /* НОВЫЙ CSS: добавляем стили для отображения меню при нажатии на кнопку */
    position: absolute; 
    top: 70px; /* Позиционируем меню под шапкой */
    right: 0; 
    width: auto; 
    background-color: rgb(54, 53, 59);
    flex-direction: column; /* Располагаем элементы меню вертикально */
    z-index: 100;
    transition: transform 0.3s ease-in-out; /* Добавляем плавную анимацию */
  }

  /* НОВЫЙ CSS: показываем меню, когда у #links есть класс show */
  #links.show {
    display: flex;
    justify-content: center; /* Центрирует элементы по горизонтали */
    align-items: center; /* Центрирует элементы по вертикали (опционально) */
    border-bottom-left-radius: 5px; /* Радиус скругления для нижнего левого угла */
    border-bottom-right-radius: 5px; /* Радиус скругления для нижнего правого угла */
  }

  .navigation, #userpanel > div {
    margin-bottom: 10px; /* Отступ между элементами меню */
  }
}

@media (min-width: 768px) { /* Или другое значение ширины экрана */
  #SignInAdmin1 {
    display: none;
  }
}


.page-header--blog{
  display: flex;
  justify-content: center;
}